# Actividad - Trabajando con DataFrames de Pandas.
## Criterios de evaluación.

* Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).
* Comentarios claros y concisos que expliquen el propósito de cada sección del código.
* Utilizar mensajes de commit **descriptivos**. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE). 
* Entrega en tiempo y forma.
* Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: pandas_df_tlp3_nombre_apellido).
* Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter
* Deben trabajar con el datasets adjunto a la actividad

### ¡Importante!
**El incumplimiento de los criterios de evaluación restará puntos en la nota final del práctico!**

In [2]:
import pandas as pd
import sqlite3

#Aqui agrega la conexión a la base de datos
conection = sqlite3.connect('Salaries.sqlite')
#Crea el dataframe con los datos del datasets
df = pd.read_sql_query("SELECT * FROM salaries", conection)
#Cierra la conexión a la base de datos
conection.close()

print(df.columns)

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

1. **Top 10 empleados con mayor salario total (incluyendo beneficios)**
Extrae e imprime un top 10 de expleados con mayor salario incluyendo los beneficios

In [8]:
#todo
print('Mayores salarios:')
#Muestra los 10 mayores salarios
print(df['TotalPayBenefits'].nlargest(10))

Mayores salarios:
0         567595.43
1         538909.28
110531    510732.68
110532    479652.21
110533    436224.36
72925     425815.28
72926     422353.40
110534    418019.22
110535    417435.10
110536    415767.94
Name: TotalPayBenefits, dtype: float64

2. **Filtrar empleados con más de 50,000 en horas extra, la columna a tratar es: (OvertimePay)**

In [21]:
#todo
df['OvertimePay'] = pd.to_numeric(df['OvertimePay'], errors='coerce')
print(df[df['OvertimePay']> 50000][['EmployeeName', 'OvertimePay']])

              EmployeeName  OvertimePay
1             GARY JIMENEZ    245131.88
2           ALBERT PARDINI    106088.18
3        CHRISTOPHER CHONG     56120.71
6                ALSON LEE     89062.90
8           MICHAEL MORRIS     86362.68
...                    ...          ...
118288    Francisco A Arce     51625.42
118342    Felix Pagatpatan     52550.53
119450         Bobby Jones     50265.23
119607       Hung V Nguyen     74935.96
120204  Girma-Worku Zeleke     54738.36

[2165 rows x 2 columns]

3. **Contar cuántos empleados únicos hay por año**

In [ ]:
#Muestra empleados por año
print('Empleados por año:')
df.groupby('Year')['EmployeeName'].nunique()

Empleados por año:

Year
2011    33878
2012    34349
2013    36150
2014    36684
Name: EmployeeName, dtype: int64

4. **Ver cuántos cargos únicos (JobTitle) existen y los 5 más comunes**

In [52]:
#Muestra los cargos unicos
cargos_unicos = df['JobTitle'].nunique()
print(f'''
Cargos unicos: 
{cargos_unicos}
''')

print('Cargos mas comunes:')
#Muestra los 5 cargos mas comunes
df["JobTitle"].value_counts().head(5)

Cargos unicos:
2159

Cargos mas comunes:

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

5. **Mostrar el salario total (TotalPay) promedio por año**

In [ ]:
#todo
salario_promedio = df.groupby('Year')['TotalPay'].mean()

print(f'''
El salario promedio por año es: 
{salario_promedio}
    ''')

El salario promedio por año es:
Year
2011    71744.103871
2012    74113.262265
2013    77611.443142
2014    75463.918140
Name: TotalPay, dtype: float64

6. **Exporta todos los datos a un CSV y muestra los ultimos 10 valores**

In [54]:
#Convertir el dataframe a CSV
df.to_csv('Salaries.csv', index=False)
#Mostrar 10 ultimos valores del csv
print(f'''
Ultimos 10 valores del CSV:
{df.tail(10)}''')

Ultimos 10 valores del CSV:
            Id      EmployeeName                      JobTitle       BasePay  \
148644  148645      Randy D Winn  Stationary Eng, Sewage Plant          0.00
148645  148646  Carolyn A Wilson     Human Services Technician          0.00
148646  148647      Not provided                  Not provided  Not Provided
148647  148648    Joann Anderson   Communications Dispatcher 2          0.00
148648  148649       Leon Walker                     Custodian          0.00
148649  148650     Roy I Tillery                     Custodian          0.00
148650  148651      Not provided                  Not provided  Not Provided
148651  148652      Not provided                  Not provided  Not Provided
148652  148653      Not provided                  Not provided  Not Provided
148653  148654         Joe Lopez    Counselor, Log Cabin Ranch          0.00

        OvertimePay      OtherPay      Benefits  TotalPay  TotalPayBenefits  \
148644          0.0          0.00          0.00      0.00              0.00
148645          0.0          0.00          0.00      0.00              0.00
148646          NaN  Not Provided  Not Provided      0.00              0.00
148647          0.0          0.00          0.00      0.00              0.00
148648          0.0          0.00          0.00      0.00              0.00
148649          0.0          0.00          0.00      0.00              0.00
148650          NaN  Not Provided  Not Provided      0.00              0.00
148651          NaN  Not Provided  Not Provided      0.00              0.00
148652          NaN  Not Provided  Not Provided      0.00              0.00
148653          0.0       -618.13          0.00   -618.13           -618.13

        Year Notes         Agency Status
148644  2014  None  San Francisco     PT
148645  2014  None  San Francisco     PT
148646  2014  None  San Francisco   None
148647  2014  None  San Francisco     PT
148648  2014  None  San Francisco     PT
148649  2014  None  San Francisco     PT
148650  2014  None  San Francisco   None
148651  2014  None  San Francisco   None
148652  2014  None  San Francisco   None
148653  2014  None  San Francisco     PT